﻿
@{
    ViewBag.Title = "BannerBuilder";
}

<h1>BannerBuilder</h1>
<form class="form-inline margin-top">
    <div class="form-group">
        <input type="text" class="form-control" id="getBanner" placeholder="BannerId"/>
    </div>
    <button class="btn btn-primary" onclick="GetBanner();return false;">Hämta banner</button>
</form>

<div id="banner" class="margin-top">
</div>

<div id="error" class="margin-top text-danger"></div>
<script src="~/Scripts/Custom/bannerBuilderService.js"></script>



